<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
 
  <div id="comment-section"></div>
  <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.m-e.pp.ua",
    serverName: "matrix.m-e.pp.ua",
    siteName: "treba.m-e.pp.ua",
    commentSectionId: "{{ trim .Page.RelPermalink "/"}}"
  })
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://cactus.chat" rel="nofollow">comments powered by matrix.org.</a></noscript>
