     <hr/>
       <div class="backlinks-container">
            {{partial "backlinks.html" .}}
       </div>
{{if $.Site.Data.config.enableFooter}}
  {{if $.Site.Data.graphConfig.enableGlobalGraph}}
      <div class="page-end" id="footer">

        <div>
            {{partial "graph.html" .}}
        </div>

      </div>
  {{else}}
      <hr/>
      <div class="page-end" id="footer">
 {{ if ne .Permalink "https://treba.m-e.pp.ua/" }}
    <div>
        {{ partial "chat.html" . }}
    </div>
{{ end }}
      </div>
  {{end}}
{{end}}

{{partial "contact.html" .}}
