<hr/>
{{ if not .IsHome }}
   <div class="backlinks-container">
    <div>
    {{partial "backlinks.html" .}}
    </div>
   </div>
{{ end }}
{{if $.Site.Data.config.enableFooter}}
  {{if $.Site.Data.graphConfig.enableGlobalGraph}}
      <div class="page-end" id="footer">

        <div>
            {{partial "graph.html" .}}
        </div>

      </div>
  {{else}}
      <hr/>
      <div class="page-end" id="footer">
{{ if not .IsHome }}
    <div>
        {{ partial "chat.html" . }}
    </div>
{{ end }}
      </div>
  {{end}}
{{end}}

{{partial "contact.html" .}}